.accordion {
  width: 320px;
  margin: 20px 0;
}

.accordion-item {
  border-bottom: 1px solid #ccc;
}

.accordion-title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border: 0;
  padding: 12px;
  background: #eee;
  cursor: pointer;
}

.accordion-content {
  padding: 12px;
  background: white;
}
