.modal-overlay {
  position: fixed;
  z-index: 100;
  inset: 0;
  display: grid;
  place-items: center;
  background: rgb(0 0 0 / 50%);
}

.modal-content {
  position: relative;
  width: min(400px, 90%);
  border-radius: 8px;
  padding: 24px;
  background: white;
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  border: 0;
  background: transparent;
  font-size: 24px;
  cursor: pointer;
}
