.star-rating {
  display: flex;
  align-items: center;
  gap: 4px;
}

.star {
  border: 0;
  padding: 0;
  color: gray;
  background: transparent;
  font-size: 28px;
  cursor: pointer;
}

.star.filled {
  color: gold;
}
