.tabs {
  width: 320px;
  margin: 20px 0;
}

.tabs button {
  margin: 0 4px 0 0;
}

.tabs .active-tab {
  color: white;
  background: royalblue;
}

.tab-content {
  border: 1px solid #ccc;
  margin-top: 8px;
  padding: 16px;
}
