.light {
   width: 30px;
   height: 30px;
   border-radius: 20px; 
   border: 1px solid black;
}

.container {
    width: 70px;
    height: 120px;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: grey;
}